.stock-list-table td{
    text-align: left;
    padding: 10px;
    font-size: 20px;
}

.stock-list-heading{
    padding-left: 10px;
}

.table-row td:nth-child(3){
    color: grey;
}


.price-increase{
    color: green;
}

.price-decrease{
    color: red;
}