.stock-list-table td{
    text-align: left;
    padding: 10px;
    font-size: 20px;
}

.stock-list-heading, .stocks-container, .portfolio-value {
    padding-left: 10px;
}

.stock-list-heading{
    margin-top: 50px;
}

.stocks-container{
    margin: 20px
}

.table-row td:nth-child(3){
    color: grey;
}


.price-increase{
    color: green;
}

.price-decrease{
    color: red;
}
