.portfolio-div{
  display:flex;
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 4px;
}

.purchase-form-div h2{
    padding-left: 30px;
    margin-bottom: 0px;
}

.purchase-form-div{
    width: 30vw;
    margin: 0 50px;
}

.portfolio-div .stock-list, .purchase-form-div{
    margin-top: 50px;
    margin-left: 50px;
}


